/**
 * ----------------------------------------------------------------------------
 * #.# Frontend CSS
 *
 * ----------------------------------------------------------------------------
 */

.wp-block-gb-slider {
	color: #000000;
	background: gold;
	border: 0.2rem solid goldenrod;
	padding: 2rem;
}
